@page
@model Svetaine.Pages.Topic.Thread.IndexModel

@{
    ViewData["Title"] = "Topics";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Topics</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Threads[0].TopicID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Threads[0].UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Threads[0].Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Threads[0].Pinned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Threads[0].Locked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Threads[0].Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Threads) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TopicID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pinned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>

                <a asp-page="./Details" asp-route-id="@item.ID">ViewTopic</a> |

            </td>
        </tr>
}
    </tbody>
</table>
