@page
@model Svetaine.Pages.Topic.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Topics[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topics[0].Priority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Topics) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>

                <a asp-page="./Details" asp-route-id="@item.ID">View topic</a> |

            </td>
        </tr>
}
    </tbody>
</table>
